@use 'sass:map';
@use '../../global.scss' as *;

.item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid map.get($colors, 'ml-gray-1');
  padding: 16px 0;
  grid-template-areas:
    'image price price ... freeshipping '
    'image title title title ...'
    'image condition ... ... ...'
    'image ... ... ... ...';
  text-decoration: none;

  &--image {
    height: 180px;
    max-width: 180px;
  }

  &--imagecontainer {
    grid-area: image;
    width: 180px;
    padding-right: 12px;
    border-radius: 4px;
  }

  &--price {
    grid-area: price;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 32px;
    color: map.get($colors, 'ml-gray-4');
  }

  &--title {
    grid-area: title;
    font-size: 18px;
    color: map.get($colors, 'ml-gray-4');
  }

  &--condition {
    grid-area: condition;
    color: map.get($colors, 'ml-gray-4');
    padding-top: 12px;
  }

  &--shipping-free {
    grid-area: freeshipping;
    font-size: 12px;
    padding-top: 12px;
    color: map.get($colors, 'ml-gray-3');
  }
}
