$colors: (
  'ml-yellow': #ffe600,
  'ml-gray-4': #333333,
  'ml-gray-3': #666666,
  'ml-gray-2': #999999,
  'ml-gray-1': #eeeeee,
);

@mixin grid-12-columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
