@use 'sass:map';
@use './global.scss' as *;

body {
  background-color: map.get($colors, 'ml-gray-1');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  @include grid-12-columns;
  grid-template-areas:
    'header header header header header header header header header header header header'
    '... ... breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb ... ...'
    '... ... main main main main main main main main ... ...';
}
